<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" id="nav-logo" href="#"><img src="https://media.licdn.com/dms/image/D4D03AQGzbUL1TTf1xg/profile-displayphoto-shrink_200_200/0/1701959819725?e=2147483647&v=beta&t=1U8oL5kgvZTRrCjWvbIU8sa-hBHww_PEN_BrJ5ZkOC4"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/home/new">Create</a>
        </div>
      </div>
    </div>
  </nav>